services:
  jenkins:
    build: .
    image: custom-jenkins:lts-jdk21
    container_name: jenkins
    restart: unless-stopped

    ports:
      - "8080:8080"

    environment:
      TZ: Asia/Kolkata

    user: root

    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

    networks:
      - jenkins-net

volumes:
  jenkins_data:

networks:
  jenkins-net:
    driver: bridge
